body{
    background-color: rgb(86, 173, 255);
    padding: 30px;
}
h2{
    background: #22C1C3;
background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(41, 160, 230, 1) 100%);
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.contenedor{
    background: #42c7c9;
background: linear-gradient(0deg, rgba(66, 199, 201, 1) 23%, rgba(255, 255, 255, 1) 68%);
}